---
---

<footer class="ms-footer">
  <ul class="ms-footer-links">
    <li><a href="/about">About</a></li>
    <li><a href="/faq">FAQ</a></li>
    <li><a href="/terms">Terms</a></li>
    <li><a href="/privacy">Privacy</a></li>
    <li><a href="/safety">Safety Tips</a></li>
    <li><a href="/contact">Contact Us</a></li>
    <li><a href="/advertise">Advertise</a></li>
    <li><a href="/jobs">MySky Jobs</a></li>
  </ul>
  <p class="ms-footer-copy">
    &copy;2003-2006 MySky.com. All Rights Reserved.
    <br />
    Powered by <a href="https://atproto.com" target="_blank">AT Protocol</a>
  </p>
</footer>
